body {
  font-family: "Roboto", sans-serif;
  color: #2E2F42;
  background-color: #FFFFFF;
  
}

a {
  text-decoration: none;
  font-style: normal;
}

ul {
  list-style-type: none;
}

/*header {
  background-color: #E7E9FC;
}*/

.origin-logo {
  color: #4D5AE5;
  ;
}

.logo-link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  color: #2E2F42;
  
}

.nav-list a {
    color: #2E2F42; /* Колір для посилань у навігаційному меню */
} 

.nav-list a:hover,
.nav-list a:hover {
  color: #404BBF;
} 

.nav-list a:active {
  color: #404BBF;
  text-decoration: underline;
}

.nav-list-item {
  font-weight: 500;
  line-height: 1.5;
  
}

.address-list a,
.benefits-desc,
.foto-desc {
  color: #434455;
}

.address-list a:hover,
.address-list a:hover {
  color: #404BBF;

}

.address-list-item {
  line-height: 1.5;
}

.hero-section {
  background-color: #2E2F42;
}

.hero-section-title {
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
color: #FFFFFF;
}

.hero-section-button {
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  background-color: #4D5AE5;
  letter-spacing: 0.04em;
  color: #FFFFFF;
}

.hero-section-button:hover {
  background-color: #404BBF;
  color: #FFFFFF;
} 

/*.benefits {
}
.benefits-list {
}
.benefits-item {
}*/
.benefits-title {
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: left;

}
.benefits-desc {
  line-height: 1.5;
}

.team-section {
  background-color: #F4F4FD;
}

.team-section-title {

font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
}

/*
.team-section-list {
}
.team-section-item {
}*/

.team-section-foto-title {
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
}
.team-section-item .foto-desc {
  line-height: 1.5;
  text-align: center;

}
/*.portfolio {
}*/
.portfolio-title {
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
}

/*.portfolio-list {
}
.portfolio-item {
}*/

.portfolio-foto-title {
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: left;
}

.foto-desc {
  line-height: 1.5;
  text-align: left;
}

.white-logo,
.footer-desc {
  color: #F4F4FD;
}

footer {
  background-color: #2E2F42;
}

.footer-desc {
  line-height: 1.5;
  text-align: left;
 
}